<?xml version="1.0" ?>
<config>
  <modules>
    <Magebuzz_Snippet>
      <version>0.1.0</version>
    </Magebuzz_Snippet>
  </modules>
  <frontend>
    <routers>
      <snippet>
        <use>standard</use>
        <args>
          <module>Magebuzz_Snippet</module>
          <frontName>snippet</frontName>
        </args>
      </snippet>
    </routers>
    <layout>
      <updates>
        <snippet>
          <file>snippet.xml</file>
        </snippet>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Snippet>
          <files>
            <default>Magebuzz_Snippet.csv</default>
          </files>
        </Magebuzz_Snippet>
      </modules>
    </translate>
  </frontend>
  <admin>
    <routers>
      <snippetadmin>
        <use>admin</use>
        <args>
          <module>Magebuzz_Snippet</module>
          <frontName>snippetadmin</frontName>
        </args>
      </snippetadmin>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <snippet>
          <file>snippet.xml</file>
        </snippet>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Snippet>
          <files>
            <default>Magebuzz_Snippet.csv</default>
          </files>
        </Magebuzz_Snippet>
      </modules>
    </translate>
  </adminhtml>
  <global>
    <models>
      <snippet>
        <class>Magebuzz_Snippet_Model</class>
        <resourceModel>snippet_mysql4</resourceModel>
      </snippet>
      <snippet_mysql4>
        <class>Magebuzz_Snippet_Model_Mysql4</class>
        <entities>
          <snippet>
            <table>snippet</table>
          </snippet>
        </entities>
      </snippet_mysql4>
    </models>
    <resources>
      <snippet_setup>
        <setup>
          <module>Magebuzz_Snippet</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </snippet_setup>
      <snippet_write>
        <connection>
          <use>core_write</use>
        </connection>
      </snippet_write>
      <snippet_read>
        <connection>
          <use>core_read</use>
        </connection>
      </snippet_read>
    </resources>
    <blocks>
      <snippet>
        <class>Magebuzz_Snippet_Block</class>
      </snippet>
    </blocks>
    <helpers>
      <snippet>
        <class>Magebuzz_Snippet_Helper</class>
      </snippet>
    </helpers>
  </global>
  <default>
    <snippet>
      <general>
        <enabled>1</enabled>
      </general>
      <product>
        <price>1</price>
        <availability>1</availability>
        <ratings>1</ratings>
        <description>1</description>
        <image>1</image>
      </product>
      <link>
        <breadcrumbs>1</breadcrumbs>
      </link>
      <organization>
        <enabled>1</enabled>
      </organization>
      <category>
        <enabled>1</enabled>
      </category>
    </snippet>
  </default>
</config>